@keyframes animation-spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loader {
  border: 2px solid var(--color-border);
  color: white;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius:20%;
  border-top-color: transparent;
  animation: animation-spin 2s ease-in-out infinite;
}
